.card{
    padding:20px;
    background-color:transparent;
    border: 0;
    font-size:40px;
    height:200px
}
.card .btn{
    font-size:60px;
}
.card .btn-warning{
    color:rgb(216, 35, 105);
}
.textGame{
    font-size: 60px
}

.animationChoose{
    animation-name: zoomOut;
    animation-duration: 0.5s;
}
@keyframes zoomOut {
    0%{
        transform: scale(1);
    }
    70%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}